.heading,
.main_content_centered {
    text-align: center;
    word-wrap: break-word;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 30px;

}

.main_content,
.main_content_centered {
    margin: 5px 30px 5px 30px;
}

.social_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon {
    margin: 0 5px
}

table {
    margin: 20px auto;
    width: 50%;
    border: 1px solid black;
}

th {
    text-align: center;
    background-color: #54cdc9;
}

td {
    color: #54cdc9;
}

.event_schedule {
    width: 90%;
    border-collapse: collapse;
}

.even td {
    color: #000;
    background: #b3edcf;
    border: 1px solid #000;
}

.odd td {
    border: 1px solid #000;
}


.odd td,
.odd th {
    color: #000;
    background: #e0f0e9;
}

.tableDiv{
    display: table;
    margin: auto;
    width: auto;
    border:1px solid #000;
    border-collapse: collapse; 
}

.thDiv {
    display: table-header-group;
    font-weight: bold;
    border:1px solid #000;  
}


.trDiv{
    display:table-row;
    border:1px solid #000;  
}

.tdDiv{
    display: table-cell; 
    padding-left: 50px;
    padding-right: 50px; 
    border:1px solid #000;  
    
}

.responsive_table{
    overflow-x: auto;
    
}

.responsive_table table{
    border-collapse: collapse; 
}

.responsive_table tr td{
    background-color: none;
    color: #000;
    border:1px solid #000;
   
}

.responsive_table th{
    background: none;
   
}